In [1]:
print("hello world")

hello world

In [2]:
print("hey")

hey

In [3]:
x = 12
y = 20

In [4]:
print(x)

12

In [5]:
varz = x + 2*y

In [6]:
print(varz)

52

In [7]:
vara = 33.56
varb = 67.2

In [8]:
varc = varb/vara
print(varc)

2.00238379022646

In [9]:
print(x)

12

In [10]:
total = 487
div = 15

In [11]:
q = total/div

In [12]:
print(q)

32.46666666666667

In [13]:
q = total//div
print(q)

32

In [14]:
q = total%div
print(q)

7

In [15]:
2**3

8

In [16]:
4**2

16

In [17]:
x = 12
y = 20

print(x)

12

In [18]:
x = (y*2)/4
print(x)

10.0

In [19]:
place = "mumbai"

In [20]:
print(place)

mumbai

In [21]:
bank = 'hdfc'

In [22]:
print(bank)

hdfc

In [23]:
type(bank)

str

In [24]:
type(place)

str

In [25]:
type(varz)

int

In [26]:
print(place)

mumbai

In [27]:
print(place[2])

m

In [28]:
print(place[0])

m

In [29]:
print(place[9])

IndexError: string index out of range

In [30]:
print(place[-1])

i

In [31]:
print(place[-5])

u

In [32]:
place[0:4]

'mumb'

In [33]:
print(place[1:5])

umba

In [34]:
print(place[0:7:-1])

In [35]:
print(place[0:6:-1])

In [36]:
print(place[::-1])

iabmum

In [39]:
x = ''.join(reversed(place))

In [38]:
place

'mumbai'

In [40]:
print(x)

iabmum

In [41]:
print(place[10])

IndexError: string index out of range

In [42]:
print(place[3:10])

bai

In [43]:
print(place[10:20])

In [44]:
new_place = "navi mumbai'

SyntaxError: EOL while scanning string literal (<ipython-input-44-73bfc4401acc>, line 1)

In [45]:
statement_1 = "i did'nt eat"

In [46]:
statement_2 = 'he is in "london"'

In [47]:
print(statement_1)
print(statement_2)

i did'nt eat
he is in "london"

In [48]:
place.count('m')

2

In [49]:
place.count('n')

0

In [50]:
bank = 'hdfc'

In [51]:
bank = 'HDFC'

In [52]:
print(bank)

HDFC

In [53]:
place[0]

'm'

In [54]:
place[0] = 'M'

TypeError: 'str' object does not support item assignment

In [55]:
place

'mumbai'

In [56]:
place = 'Mumbai'

In [57]:
print(place)

Mumbai

In [58]:
place = 'delhi'
print(place)

delhi

In [59]:
numa = 23
numb = 50

In [60]:
print(numa)

23

In [61]:
numa = 100

In [62]:
new_place = 'navi mumbai'

In [63]:
print(new_place)

navi mumbai

In [64]:
len(new_place)

11

In [66]:
new_place[5]

'm'

In [67]:
new_place.count('i')

2

In [68]:
new_place.index('v')

2

In [69]:
new_place.index('i')

3

In [70]:
new_place.replace('mumbai', 'delhi')

'navi delhi'

In [71]:
new_place.upper()

'NAVI MUMBAI'

In [72]:
new_place

'navi mumbai'

In [73]:
new_place.title()

'Navi Mumbai'

In [74]:
new_place.capitalize()

'Navi mumbai'

In [75]:
new_place.find('u')

6

In [77]:
new_place.find('mum')

5

In [ ]:
new_place[4:8]

In [79]:
print(new_place[4:8])

 mum

In [80]:
new_place

'navi mumbai'

In [81]:
6 + 9

15

In [82]:
"hi" + "ho"

'hiho'

In [83]:
stra = "good"
strb = "morning"

In [84]:
stra + " " + strb

'good morning'

In [85]:
stra+strb

'goodmorning'

In [86]:
strc = stra + " " + strb

In [87]:
print(strc)

good morning

In [88]:
new_place + " delhi"

'navi mumbai delhi'

In [89]:
new_place.replace("mumbai", "delhi")

'navi delhi'

In [90]:
new_place

'navi mumbai'

In [91]:
x = new_place.replace("mumbai", "delhi")

In [92]:
new_place

'navi mumbai'

In [93]:
x

'navi delhi'

In [94]:
new_place = new_place.replace("mumbai", "delhi")

In [95]:
new_place

'navi delhi'

In [96]:
stra

'good'

In [97]:
stra = stra.upper()

In [98]:
stra

'GOOD'

In [99]:
# this code is to replace a part of string

new_place = new_place.replace("mumbai", "delhi")

# i am assigning it back to the new_place

In [100]:
# adn;kdd
#svknkhsv
#dbff

In [101]:
# created variable count as a counter
# created _XDF as a flag

In [102]:
# multiple assignment

a = b = c = 100

In [103]:
print(b)

100

In [104]:
a, b, c = 10, 23, "hi"

In [105]:
print(a)

10

In [106]:
print(c)

hi

In [107]:
gg = None

In [108]:
del b

In [109]:
print(b)

NameError: name 'b' is not defined

In [110]:
lista = ['rr', 'hh', 'dd', 'ww', 'uu', 'oo', 'pp']

In [111]:
print(lista)

['rr', 'hh', 'dd', 'ww', 'uu', 'oo', 'pp']

In [113]:
del lista[3]

In [114]:
print(lista)

['rr', 'hh', 'dd', 'uu', 'oo', 'pp']

In [115]:
del lista

In [116]:
print(lista[2])

NameError: name 'lista' is not defined