In [1]:
lista = [6, 9, 2, 14, 7, 6, 15, 2, 13]

In [2]:
places = ['airoli', 'khargar', 'vashi', 'belapur', 'nerul']

In [3]:
nums = [67.8, 44.5, 6.2, 4.5]

In [5]:
type(lista)

list

In [6]:
type(places)

list

In [7]:
type(nums)

list

In [8]:
type(lista[0])

int

In [9]:
type(places[0])

str

In [10]:
len(places)

5

In [11]:
places[2]

'vashi'

In [12]:
print(places)

['airoli', 'khargar', 'vashi', 'belapur', 'nerul']

In [13]:
places.append('sanpada')

In [14]:
print(places)

['airoli', 'khargar', 'vashi', 'belapur', 'nerul', 'sanpada']

In [16]:
places.insert(3, 'juinagar')

In [17]:
print(places)

['airoli', 'khargar', 'vashi', 'juinagar', 'belapur', 'nerul', 'sanpada']

In [18]:
places.remove('nerul')

In [19]:
print(places)

['airoli', 'khargar', 'vashi', 'juinagar', 'belapur', 'sanpada']

In [20]:
places.remove('andheri')

ValueError: list.remove(x): x not in list

In [21]:
print(places)

['airoli', 'khargar', 'vashi', 'juinagar', 'belapur', 'sanpada']

In [22]:
places.pop(3)

'juinagar'

In [23]:
print(places)

['airoli', 'khargar', 'vashi', 'belapur', 'sanpada']

In [24]:
places.reverse()

In [25]:
print(places)

['sanpada', 'belapur', 'vashi', 'khargar', 'airoli']

In [26]:
places.sort()

In [27]:
print(places)

['airoli', 'belapur', 'khargar', 'sanpada', 'vashi']

In [28]:
print(nums)

[67.8, 44.5, 6.2, 4.5]

In [29]:
nums.clear()

In [30]:
print(nums)

[]

In [31]:
len(nums)

0

In [32]:
places[-1]

'vashi'

In [33]:
places[0:3]

['airoli', 'belapur', 'khargar']

In [34]:
listb = [9, 7, 'hi', 'hello', 654.3]

In [35]:
len(listb)

5

In [36]:
listc = [8.2, "great", [6, 8, 9], places]

In [37]:
len(listc)

4

In [38]:
type(listc[0])

float

In [39]:
type(listc[2])

list

In [40]:
type(listc[3])

list

In [41]:
listc

[8.2, 'great', [6, 8, 9], ['airoli', 'belapur', 'khargar', 'sanpada', 'vashi']]

In [42]:
print(listc)

[8.2, 'great', [6, 8, 9], ['airoli', 'belapur', 'khargar', 'sanpada', 'vashi']]

In [43]:
print(listc[3])

['airoli', 'belapur', 'khargar', 'sanpada', 'vashi']

In [44]:
print(listc[3][2])

khargar

In [45]:
print(listc[3][2][2])

a

In [46]:
places = ['airoli', 'khargar', 'vashi', 'juinagar', 'belapur', 'sanpada']
print(type(places))

<class 'list'>

In [47]:
places = ['airoli', 'khargar', 'vashi', 'juinagar', 'belapur', 'sanpada']
type(places)

list

### will learn tuples now

In [48]:
places = ('airoli', 'khargar', 'vashi', 'juinagar', 'belapur', 'sanpada')
type(places)

tuple

In [49]:
places[2]

'vashi'

In [50]:
places[2] = "new panvel"

TypeError: 'tuple' object does not support item assignment

In [51]:
places.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [52]:
tupa = (67.8, 'aaa', lista)

In [53]:
tupa

(67.8, 'aaa', [6, 9, 2, 14, 7, 6, 15, 2, 13])