In [1]:
lista = ['ii', 'bb', 'ff', 'gg', 'tt', 'nn']

In [2]:
import pandas as pd

In [3]:
sa = pd.Series(lista)

In [4]:
type(sa)

pandas.core.series.Series

In [5]:
sa

0    ii
1    bb
2    ff
3    gg
4    tt
5    nn
dtype: object

In [7]:
sa = pd.Series(lista, index=[2,4,6,8,10, 12])

In [8]:
sa

2     ii
4     bb
6     ff
8     gg
10    tt
12    nn
dtype: object

In [9]:
listb = [800, 300, 1000, 400, 200, 600]

In [10]:
pd.Series(listb, index=lista)

ii     800
bb     300
ff    1000
gg     400
tt     200
nn     600
dtype: int64

In [11]:
prod_dict = {'dairy': 2300, 'soft drinks': 4500, 'fruits and vegetables': 6700}

prod_series = pd.Series(prod_dict)

In [12]:
prod_series

dairy                    2300
soft drinks              4500
fruits and vegetables    6700
dtype: int64

In [13]:
prod_series['dairy']

2300

In [14]:
sb = pd.Series(listb, index=lista)

In [15]:
sb['ii']

800

In [16]:
sb

ii     800
bb     300
ff    1000
gg     400
tt     200
nn     600
dtype: int64

In [18]:
import numpy as np

student_series =  pd.Series(
             np.array([450, 129, 313, 414, 215, 116]),
             index = ['Sophia', 'Emma', 'Mia', 'William', 'Lily', 'Grace'])

In [19]:
student_series

Sophia     450
Emma       129
Mia        313
William    414
Lily       215
Grace      116
dtype: int64

In [20]:
student_series[student_series>300]

Sophia     450
Mia        313
William    414
dtype: int64

In [21]:
sb

ii     800
bb     300
ff    1000
gg     400
tt     200
nn     600
dtype: int64

In [22]:
sb*2

ii    1600
bb     600
ff    2000
gg     800
tt     400
nn    1200
dtype: int64

In [23]:
sc = pd.Series([220, 300, 260, 280, 310, 200])

In [24]:
sb

ii     800
bb     300
ff    1000
gg     400
tt     200
nn     600
dtype: int64

In [25]:
sc

0    220
1    300
2    260
3    280
4    310
5    200
dtype: int64

In [26]:
sb + sc

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
bb   NaN
ff   NaN
gg   NaN
ii   NaN
nn   NaN
tt   NaN
dtype: float64

In [27]:
sd = pd.Series(listb)

In [28]:
sc

0    220
1    300
2    260
3    280
4    310
5    200
dtype: int64

In [29]:
sd

0     800
1     300
2    1000
3     400
4     200
5     600
dtype: int64

In [30]:
sc + sd

0    1020
1     600
2    1260
3     680
4     510
5     800
dtype: int64

In [31]:
score_array = [121, 212, 153, 214, 115, 116, 237, 118, 219, 120]
score_series = pd.Series(score_array)

In [32]:
score_series

0    121
1    212
2    153
3    214
4    115
5    116
6    237
7    118
8    219
9    120
dtype: int64

In [33]:
score_series.rank()

0     5.0
1     7.0
2     6.0
3     8.0
4     1.0
5     2.0
6    10.0
7     3.0
8     9.0
9     4.0
dtype: float64

In [35]:
score_series.sort_values()

4    115
5    116
7    118
9    120
0    121
2    153
1    212
3    214
8    219
6    237
dtype: int64

In [36]:
sb

ii     800
bb     300
ff    1000
gg     400
tt     200
nn     600
dtype: int64

In [37]:
sb.rank()

ii    5.0
bb    2.0
ff    6.0
gg    3.0
tt    1.0
nn    4.0
dtype: float64

In [38]:
sb.sort_values()

tt     200
bb     300
gg     400
nn     600
ii     800
ff    1000
dtype: int64

In [39]:
sb.sort_values(ascending=False)

ff    1000
ii     800
nn     600
gg     400
bb     300
tt     200
dtype: int64

In [40]:
sc

0    220
1    300
2    260
3    280
4    310
5    200
dtype: int64

In [41]:
sd

0     800
1     300
2    1000
3     400
4     200
5     600
dtype: int64

In [42]:
pd.concat([sc, sd])

0     220
1     300
2     260
3     280
4     310
5     200
0     800
1     300
2    1000
3     400
4     200
5     600
dtype: int64

In [43]:
cities = ['cairo', 'singapore', 'new york', 'paris']

In [44]:
dfa = pd.DataFrame(cities)

In [45]:
dfa

           0
0      cairo
1  singapore
2   new york
3      paris

In [46]:
listb =  [['John', 30000], ['Alia', 50000], ['Mia', 70000], ['Robin', 50000]]

In [47]:
dfb = pd.DataFrame(listb)

In [48]:
dfb

       0      1
0   John  30000
1   Alia  50000
2    Mia  70000
3  Robin  50000

In [51]:
listb = [['John', 30000], ['Alia', 50000], ['Mia', 70000], ['Robin', 50000]]
    
dfc = pd.DataFrame(listb, columns=['Name', 'salary'])

In [52]:
dfc

    Name  salary
0   John   30000
1   Alia   50000
2    Mia   70000
3  Robin   50000